@{
    Layout = null;
}

@model CodeReviewDemo.Models.Home

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
<div>
    <h1>@Model.Message</h1>
</div>
</body>
</html>
